@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  font-family: 'Arial', sans-serif;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  /* font-family: "Times New Roman", Times, serif; */
  /* font-weight: bold; */
  /* @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
  /* background-color: #000000;
   color: aliceblue;
   margin-left: 25%;
   margin-right: 25%; */
  background-color: rgb(228, 228, 228);
}

.headerBar {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(205, 205, 205);
}

@media (max-width: 1120px) {
  .fillBar,
  .dateBar,
  .timeBar {
    display: none;
  }
}

.navbar {
  width: 50%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically (optional) */
}

.navbar a {
  color: #333;
  text-decoration: none;
  transition: 0.1s;
}

.navbar a:hover {
  color: hsl(0, 0%, 57%);
}

@media (max-width: 1120px) {
  .navbar {
    width: 100%;
  }
}

.dateBar {
  width: 15%;
  padding: 5px;
  font-size: large;
  display: flex;
  flex-direction: column;
}
.timeBar {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: small;
}

.fillBar {
  width: 35%;
}

@media (max-width: 1120px) {
  .fillBar,
  .dateBar,
  .timeBar {
    display: none;
  }
}

.pagebody {
  /* background-color: rgb(231, 231, 231); */
  margin: 1% 25% 10% 25%;
}

@media (max-width: 1120px) {
  .pagebody {
    margin: 1% 1% 5% 1%;
  }
}

.home-content {
  padding: 1rem;
}

.home-content p {
  margin-bottom: 1rem; /* Space between paragraphs */
  line-height: 1.8; /* Comfortable reading */
  text-align: justify; /* Optional: justify text */
}

.home-content h1 {
  margin-bottom: 1rem; /* Space between paragraphs */
  transition: all 0.3s ease;
}

.divider {
  display: flex;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  margin: 1% 0 3% 49px;
}

@media (max-width: 1120px) {
  .divider {
    margin: 10px;
  }
}



.section {
  display: flex;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease,
    margin-top 0.3s ease;
  gap: 30px;
}

.toggle-button {
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  margin: 5px;
  border-radius: 50%; /* Makes it a circle */
  color: rgb(141, 141, 141);
  cursor: pointer;
}


.expand {
  background-color: rgb(192, 192, 192);
}

.toggle-button:hover {
  background-color: rgb(122, 122, 122);
  transition: 0.3s;
}

@media (max-width: 1120px) {
  .expand {
    display: none;
  }
}

.summary {
  transition:
    max-height 1s ease,
    opacity 1s ease,
    margin-top 1s ease;
}

.details {
  overflow: hidden;
}

.details.expanded {
  opacity: 1;
}

.details.collapsed {
  max-height: 0;
  opacity: 0;
  margin-top: 0;
}
